{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'components/menu/nav-main.html.twig' with {fixed: false} %}
    {% include 'components/menu/nav-aside.html.twig' %}
{% endblock %}

{% block content %}

    <main class="container mt-4">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-12 mb-4">
                {% block article %}{% endblock %}
                <div id="disqus_thread"></div>
            </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
        let d = document, s = d.createElement('script');
        s.src = 'https://ivanstanojevic.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
            powered by Disqus.</a></noscript>
    <script id="dsq-count-scr" src="//ivanstanojevic.disqus.com/count.js" async></script>
{% endblock %}
