<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
        <link rel="stylesheet" href="{{ asset('assets/build/app.css') }}">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans+Narrow">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
{% include 'components/menu/nav-main.html.twig' with {fixed: false} %}
{% include 'components/menu/nav-aside.html.twig' %}
{% block header %}{% endblock %}
{% block featured %}{% endblock %}
{% block content %}{% endblock %}

<footer class="bg-primary">
    <div class="footer-copyright text-center py-3">Copyright © {{ "now"|date('Y') }}
        <a href="https://ivanstanojevic.me/"> Ivan Stanojević</a>.
    </div>
</footer>

{% block javascripts %}
    <script src="{{ asset('assets/build/runtime.js') }}"></script>
    <script src="{{ asset('assets/build/app.js') }}"></script>
{% endblock %}
    {% include 'components/google-analytics.html.twig' %}
</body>
</html>
