{
  "extends": "semistandard",
  "env": {
    "jquery": true
  },
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": "off",
    "object-curly-spacing": "off",
    "no-new": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "globals": {
    "fetch": true,
    "google": true,
    "InfoBox": true,
    "Image": true,
    "React": true,
    "SatelliteView": true,
    "Orb": true
  }
}
