{
  "extends": "eslint:recommended",
  "env": {
    "jquery": true
  },
  "parser": "babel-eslint",
  "rules": {
//    "linebreak-style": "off",
//    "object-curly-spacing": "off",
//    "no-new": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "globals": {
    "document": true,
    "window": true,
    "navigator": true,

    "fetch": true,
    "setInterval": true,
    "clearInterval": true,
    "localStorage": true,

    "google": true,
    "InfoBox": true,
    "Image": true,
    "Orb": true
  }
}
