/.env
/var/
/vendor/

###> symfony/webpack-encore-pack ###
/node_modules/
npm-debug.log
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/build
/public/bundles
/bundles
###< symfony/framework-bundle ###
