{% extends 'content.html.twig' %}

{% block title %}Audio | Ivan Stanojević{% endblock %}
{% block footer %}{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
        audio {
            display: block;
            margin: 40px 0;
        }
    </style>
{% endblock %}
{% block nav %}
    {% include 'pages/archive/menu.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Audio</h1>

    <h2>Svetomir Stanojević</h2>

    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/1.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/2.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/3.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/4.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/5.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/6.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/7.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/8.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/9.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/10.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/11.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/12.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/13.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/14.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/14a.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/14b.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/15.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/17-IX.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/17.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/18.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/19-20.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/19-20b.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/21.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/22.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/23.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/24.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/25.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/26.mp3" type="audio/mpeg">
    </audio>
    <audio controls>
        <source src="//cdn.ivanstanojevic.me/audio/svetomir-stanojevic/unknown.mp3" type="audio/mpeg">
    </audio>
{% endblock %}
