{% extends 'content.html.twig' %}

{% block title %}Documents | Ivan Stanojević{% endblock %}
{% block footer %}{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
        audio {
            display: block;
            margin: 40px 0;
        }
    </style>
{% endblock %}
{% block nav %}
    {% include 'pages/archive/menu.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Documents</h1>
    <a target="_blank" href="//drive.google.com/open?id=1gRB0Vdb5HrHAMz4aO0aSYhSfNgJS6PGV"
    >Porodično stablo</a>

    <a target="_blank" href="//cdn.ivanstanojevic.me/documents/bogoljub-trifunovic-sahovski-problemi.pdf"
    >Bogoljub Trifunović - Šahovski problemi</a>

{% endblock %}
