<nav class="navbar bg-primary" id="nav-main">
    <div class="container">
        <div class="row" style="flex-grow: 1;">
            <div class="col-xl-5 offset-xl-2 col-md-9 col-8">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('archive_video') }}">Video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('archive_audio') }}">Audio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('archive_photo') }}">Photos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('archive_document') }}">Documents</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
