{% extends 'content.html.twig' %}

{% block title %}Documents | Ivan Stanojević{% endblock %}
{% block footer %}{% endblock %}

{% block nav %}
    {% include 'pages/archive/menu.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card">
                    <img alt="Apatin 2018" width="100%"
                         src="https://lh3.googleusercontent.com/GMcHb4yDD7m7VFrhuFjPnhy0NwImufwl_iJHqxPb-9AfteP9qD2pNgHuIfr8YJ8a3d2csLEWyPnOUxsdsNf8LSGu1e2tWuuGUhTzzgsl1xlbduQJWa7usurGjpfjc41LE9doYEC-AesGS2UsPlypYg-Ldd5jyT1v2gFJ6ioJJCBYx3ghNNISzrRsSqp69VDGxxgvFoCdxCF3PjtRTPO83FcL4MT3TxLq8-RCe1HMaRcemutJt4cdjSkUWfoLphkyBb-oOTfz2qyK7qlc4HgCF7mWiNAac61NuzSsWCaaUzA7sWfdraAUABiTMju0Ai9KJM7-mvqS1NQDUtqHQHHs22UuB-HlgSR3dok1hTIRKMFewEnnsLRW09MUq39-pl7Mj_GOinThusAd2yv63y0ZQ5YQzgMUchv50R2NVhu1UQDAKcCI7OW4B5qYfvpIayweONxOTHc3w6fub3PZRRDBUqb6WDT2MsE72gJye_W6JWO728gGfKBXFyq6JyXm1veML8YvMskbYwHcH_5Kfh-ZU72bzqmi8KAYOJJe2QTt_v1kKN3RJY5qVsUlzN7HjPLB8Q7fiIpVn0dlUkn5v1CkHKieOqftHRJ3Fvn-oDJh7GqK6Tp2fPzDH4eJV9w6af1KjUbkTb2Aw4Wmv5qrnKhdDGdzJD9KW0Vka-JvokPr7wIvD7_NA4JCpFbmlkdRB-IHoinfDbEwqaJTS191CQ=w2296-h1530-no">
                    <div class="card-body">
                        <a target="_blank"
                           href="https://photos.app.goo.gl/xLV1pTG7kewJV4EZ9">
                            <p class="card-text">Pavla Ivan Venčanje</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="card">
                    <img alt="Apatin 2018" width="100%"
                         src="https://lh3.googleusercontent.com/mFGcKWslmXi-icIZuX8Fc5lRPrFdU0FG3X5ksOflxMH3wgmyX7ebnQ_XDVlJQX4RSTAjgqh_0Kw06Bhu765D5D-i0g3_Fx8mO1lYVbPuKfSqnTleE0maufLC8HI4jx80E8H2LQVq3jBZz2GBrAnwSOmGlYazo1NJ6bhw3TChnKzxEil57t94djqqNoNq_F3I4fSA4PXgzODSUGLOPCyA94jzrSCXXL9LEoNjQLLmKYIvlOxee3VWaKZ3Qg_SQfaHp809tD8Sn1SqiR3oDMxO2GmbdJ3hoAKTNT14av8GLJAo5d5Ml11LQxoqh929auI99T1bcQfRpw_tj8_kA-PiQEfCU3C_3LUDdk6Wbgl7EjMSGdDzBqr_Ds62M1LsmwwY30AtpJk1MUTlO0V5fT1v5E_dYWrS7vmvmi4vdskYOuozQeLI14TUv-71x5ovp2U8rmwxSuJ6JznPggiPmp30hoTrNNcjbDZX8Nkwu_vSnWPsspBdWm_yQ-FjoI_NwvakXCGEsmiTpuzWrbNGspXq9uRk8EWaOdstJoDjqZc3XatPxkk1qE9BPVH6ZTt6aI6HKlJ5jEy1P-zNiCbuQsINLNALBpbOqddUJ_zcA_JoSCNA1Sl2N-HvgsDAaBouvkWCj064hSqOnz80qlqOpEgOo9HGGq45I514tqgiE8f-qYT1Acp_1fofeAYXvHCVrMeUAb0EV3WQdA832Rv2SQ=w2720-h1530-no">
                    <div class="card-body">
                        <a target="_blank"
                           href="https://photos.app.goo.gl/nhkKb3a1JyhJ316n7">
                            <p class="card-text">Porodični skupovi</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
