{% extends 'base.html.twig' %}

{% block body %}
    {% block notification %}
        {% if app.user and not app.user.verified %}
            {% include 'components/verify-notification.html.twig' %}
        {% endif %}
    {% endblock %}

    {% block nav %}
        {% include 'components/navigation.html.twig' %}
    {% endblock %}

    {% block messages %}
        <div class="container-fluid">
            {% include 'components/messages.html.twig' %}
        </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

{% endblock %}
