<form class="d-inline-block" method="post" action="{{ path('block_delete', {'id': lock.id}) }}"
      onsubmit="return confirm('{{'alert.confirm_delete'|trans }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lock.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
</form>
