figure {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;

  figcaption {
    text-align: center;
    color: $gray-600;
    font-size: 12px;
  }
}

i {
  color: $gray-600;
}
