{% extends 'base.html.twig' %}

{% block title %} API Documentation | {{ parent() }}{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
    <div id="redoc-container"></div>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    <script src="//cdn.jsdelivr.net/npm/redoc@2.0.0-alpha.38/bundles/redoc.standalone.js"></script>
    <script>
      Redoc.init("{{ path('app_api_docs_json', {name: name}) }}", {
        expandResponses: '200',
        disableSearch: true,
        theme: {
          rightPanel: {
//            backgroundColor: '#2c3e50',
          },
        },
      }, document.getElementById('redoc-container'));
    </script>
    {% include 'components/google-analytics.html.twig' %}
{% endblock %}
