<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
        <link rel="stylesheet" href="{{ asset('assets/build/app.css') }}">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans+Narrow">
    {% endblock %}
</head>
<body>
<nav class="navbar bg-primary">
    <div class="container">
        <div class="row" style="width: 100%;">
            <div class="col-md-5 offset-md-2">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="https://ivanstanojevic.me/#intro">Intro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ivanstanojevic.me/#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ivanstanojevic.me/#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ivanstanojevic.me/#other">Other</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ivanstanojevic.me/#contact">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link active" href="https://ivanstanojevic.me/#intro">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ivanstanojevic.me/#about">Data</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>
{#{% block header %}{% endblock %}#}
{#{% block featured %}{% endblock %}#}
{% block content %}{% endblock %}

<footer class="bg-primary">
    <div class="footer-copyright text-center py-3">Copyright © {{ "now"|date('Y') }}
        <a href="https://ivanstanojevic.me/"> Ivan Stanojević</a>.
    </div>
</footer>

{% block javascripts %}
    <script src="{{ asset('assets/build/app.js') }}"></script>
{% endblock %}
    {% include 'components/google-analytics.html.twig' %}
</body>
</html>
