{% extends 'blog/article.html.twig' %}

{% block title %}Mesec Apola 13 | Ivan Stanojević{% endblock %}

{% block article %}
    <h1>Lansiranje metka u orbitu oko Meseca?</h1>

    http://softschools.com/formulas/physics/orbital_velocity_formula/76/

    G = the universal gravitational constant, G = 6.673x10(-11) N∙m2/kg2

    M = 7.348 × 10²² kg

    Radus = 1,737.5 km = 1737500 m + 1,82 m

    alt = 1737501.82

    v = 1679.9 m/s

    https://en.wikipedia.org/wiki/.50_BMG#Military_cartridge_types

    https://www.gd-ots.com/armaments/aircraft-guns-gun-systems/gau22a/

    https://ntrs.nasa.gov/search.jsp?R=19930000955

    Period: https://en.wikipedia.org/wiki/Orbital_period

    period = 6499 s

    Result: 01:48:19

    <math>
        {\sqrt x}
    </math>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}
