<ul class="nav nav-pills">
    {% if renderOpenSide %}
        <li class="nav-item">
            <a class="nav-link" href="#" id="nav-aside-toggle"><i class="fas fa-bars"></i></a>
        </li>
    {% endif %}
    <li class="nav-item d-none d-md-block">
        <a class="nav-link" href="https://ivanstanojevic.me/#intro">Intro</a>
    </li>
    <li class="nav-item d-none d-md-block">
        <a class="nav-link" href="https://ivanstanojevic.me/#about">About</a>
    </li>
    <li class="nav-item d-none d-md-block">
        <a class="nav-link" href="https://ivanstanojevic.me/#projects">Projects</a>
    </li>
    <li class="nav-item d-none d-md-block">
        <a class="nav-link" href="https://ivanstanojevic.me/#other">Other</a>
    </li>
    <li class="nav-item d-none d-md-block">
        <a class="nav-link" href="https://ivanstanojevic.me/#contact">Contact</a>
    </li>
</ul>
