{% extends 'pages/security/_security_base.html.twig' %}

{% block title %}{{ 'login.title'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <h3 class="mb-3 text-center">{{ 'login.title'|trans }}</h3>
    {{ include('components/messages.html.twig') }}
    {% include 'pages/security/_login_form.html.twig' %}
{% endblock %}
