{% extends 'base.html.twig' %}

{% block title %}{% trans %}login.title{% endtrans %} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <h3>{% trans %}login.title{% endtrans %}</h3>
                {% include 'pages/security/_login_form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
