{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block content %}
    <h1>{% trans %}Forbidden{% endtrans %}</h1>

    <p>
        {{ 'The requested page couldn\'t be located. Checkout for any URL misspelling or <a href="%path%">return to the homepage</a>.'|trans({'%path%': path('app_index')})|raw }}
    </p>
{% endblock %}
