{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% block content %}
                    <h1 class="my-3">{{ 'error.500.title'|trans }}</h1>
                    <p>{{ 'error.500.message'|trans({'%path%': path('app_index')})|raw }}</p>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
