<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Open Data{% endblock %}</title>
    {% block meta %}{% endblock %}
    <style>
        a.navbar-brand {
            color: #D8D9DA;
            text-decoration: none;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body style="margin: 0">
<nav style="height: 40px; padding: 8px; background: rgb(38, 50, 56); border-bottom: 1px solid #fff;">
    <h1 style="text-align: center; margin: 5px;">
        <a class="navbar-brand" href="{{ path('app_index') }}">OpenData</a>
    </h1>
</nav>
{% block content %}{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>
