{% extends 'base.html.twig' %}

{% block title %}{% trans %}Watchdog{% endtrans %} | {{ parent() }}{% endblock %}

{% block body %}
    {% include 'components/navigation.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <table class="table mt-3">
                    <thead>
                    <tr>
                        <th>{% trans %}Date{% endtrans %}</th>
                        <th>{% trans %}Message{% endtrans %}</th>
                        <th>{% trans %}Severity{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in log %}
                        <tr {% if event.severity == 4 %}class="table-warning"{% endif %}
                                {% if event.severity == 0 or event.severity == 1 or event.severity == 2 %}class="table-danger"{% endif %}
                                {% if event.severity == 6 %}class="table-info"{% endif %}
                                {% if event.severity == 5 %}class="table-success"{% endif %}
                        >
                            <td>{{ event.dateTime|date }}</td>
                            <td>{{ event.message }}</td>
                            <td>{{ event.severityString }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
